spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/beneficios
    username: postgres
    password: postgres
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  jackson:
    serialization:
      write-dates-as-timestamps: false

# Se possuir servidor EJB e JNDI, informe o nome aqui (exemplo de JNDI):
# app:
#   ejb:
#     jndi: "java:/global/beneficios/BeneficioEjb!br.com.luan.beneficios.ejb.BeneficioEjb"

spring:
  messages:
    basename: messages
    encoding: UTF-8
